<div class="homePage">
    <div class="storeFront">
        <div class="full-width">
          <app-store-header></app-store-header>
         
       
            <section class="products-section" style="margin-top: 30px;">
                <div class="containter">
                    
                  <div class="col-12">
                    <div class="page-title"><h2 class="title">My Account</h2></div>
                          <div class="my-account">
                              <mat-tab-group>
                                <mat-tab label="My Account">
                                  <mat-card> 
                                      Name : {{name}} <br> 
                                      Email : {{email}}<br>
                                      Username : {{username}}
                                      <br><br><br><br><br><br><br><br><br><br><br><br><br>
                                   </mat-card>
                                  </mat-tab>
                                <mat-tab label="Orders"> <h3>Order List</h3><br><br><br><br><br><br><br><br><br><br><br><br><br></mat-tab>
                                <mat-tab label="Wish List"> <h3>Wish List</h3><br><br><br><br><br><br><br><br><br><br><br><br><br> </mat-tab>
                              </mat-tab-group>
                          </div>
                    </div>
                </div>
            </section>

           <app-store-footer></app-store-footer>
        </div>
    </div>
</div>