.example-container {
    width: 100%;
    height: 100vh;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 0px;
    width: 280px;
    margin-top: 64px;
  }

  a{ text-decoration: none;}
  a:hover{ color: #673ab7;}

  .mat-list-item {
    padding: 8px 0;
  }

  .mat-list-item .routeIcon {
    margin-right: 40px;
  }