<div class="material-app">
    <div class="main-body">
        <div class="heading">
            <h2>Dashboard</h2>
        </div>
        <div class="graphical-presentation">
                        
            <div class="row-full">
                <div class="col-6">
                    <div class="flex">
                        <div class="flex-item">
                            <mat-card class="refer-card">
                                <mat-card-title>
                                    <h3>Orders Status</h3>
                                    <hr>
                                </mat-card-title>
                              

                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex">
                        <div class="flex-item">
                            <mat-card class="refer-card">
                                <mat-card-title>
                                    <h3>Users Status</h3>
                                    <hr>
                                </mat-card-title>
                               
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clr" style="margin: 10px;">&nbsp;</div>
            <div class="row-full">
                <div class="col-6">
                    <div class="flex">
                        <div class="flex-item">
                            <mat-card class="refer-card">
                                <mat-card-title>
                                    <h3>Franchise Status</h3>
                                    <hr>
                                </mat-card-title>
                                
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex">
                        <div class="flex-item">
                            <mat-card class="refer-card">
                                <mat-card-title>
                                    <h3>Sales Analytics</h3>
                                    <hr>
                                </mat-card-title>
                               
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clr"></div>

        <!--common footer-->
    </div>
</div>