<header class="nav-storeFront mat-elevation-z6">
    <div class="nav-top">
        <div class="nav-left"><button class="menu-btn"><mat-icon>menu</mat-icon></button><img style="padding-top: 8px; position: absolute;" src="../../../assets/images/logo.png" alt="eBadam Logo" height="80"></div>
        <div class="nav-mid">
            <div class="nav-fill">
               <input type="search" class="ebadam-search" placeholder="search"><button class="search-btn">Go</button>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-widget">
                <span><mat-icon>location_on</mat-icon>Delivery Location<br><small>Thane, Mumbai, 400080..</small></span>
            </div>
            <div class="nav-widget"> 
                <span><mat-icon>add_shopping_cart</mat-icon>5-items<br><small>Price-2455.0 INR</small></span>
            </div>
        </div>
    </div><br>
    <div class="nav-bottom">
        <ul class="nav-sec">
            <li><a href="/" class="">All Categories</a></li>
            <li><a href="/" class="">All Products</a></li>
            <li><a href="/" class="">Dry Fruits</a></li>
            <li><a href="/" class="">Spices</a></li>
            <li><a href="/" class="">Dehydrated Fruits</a></li>
            <li><a href="/" class="">Mukhwas</a></li>
            <li><a href="/" class="">Farsan</a></li>
            <li><a href="#todaysDeal" class="">Today's Deal</a></li>
            <!-- <li><a href="/" class="">Orders</a></li>
            <li><a href="/" class="">My Account</a></li> -->
            <li><a routerLink="/login" class="">Login</a></li>
            <li><a href="/" class="">Help</a></li>
        </ul>
    </div>
</header>